<!DOCTYPE html>
{% if students.has_other_pages %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
   <nav>
                 <ul class="pagination">
                     <li><a href="{%url 'students_list' %}?page=1">&laquo;</a></li>
                     {% for p in students.paginator.page_range %}
                     <li {% if students.number == p %} class="active"{% endif %}>
                         <a href="{% url 'students_list' %}?page={{ p }}">{{ p }}</a></li>
                     {% endfor %}
                     <li><a href="{% url 'students_list' %}?page={{ students.paginator.num_pages}}">&raquo;</a></li>
                 </ul>
             </nav>

{% endif %}