{% extends "base.html" %}
{%load static from staticfiles %}
{% block meta_title %}Відвідування{% endblock meta_title %}
{% block title %} Облік відвідувань{% endblock title %}
{% block content %}

<!DOCTYPE html>
               <!--Month scroll-->
               <div class="row" id="calendar_scroll"></div>
               <div class="col-lg-12" id="calendar_scroll-column">
                   <div class="text-center"><strong><a href="#">&larr;</a> {{ current_month }} <a href="#">&rarr;</a></strong></div>
               </div>
               <!--End of month scroll-->
                      <!--Table with checks-->
                       <table class="table table-bordered">
                       {% with order_by=request.GET.order_by|default:'last_name' reverse=request.GET.reverse %}
                           <thead>
                           <tr>
                               <th>#</th>
                               <th>
                                   <a href="{% url 'visits'%}?order_by=last_name{% if order_by == 'last_name' and reverse != '1'%}&amp;reverse=1{%endif%}">
                           Студент {% if order_by == 'last_name' and reverse != '1'%}&uarr;
                           {%elif order_by == 'last_name' and reverse == '1'%}&darr;
                               {%endif%}
                               </a>
                               </th>
                               {% for day in days %}
                               <th>{{day}}</th>
                               {% endfor %}
                           </tr>
                           </thead>
                       {% endwith %}
                           <tbody>
                 {% for visit in visits %}
                   <tr>
                       <td>{{forloop.counter}}</td>
                       <td><a title="Редагувати" href="#">{{ visit.last_name }} {{visit.first_name}} </a></td>
                       {% for day in days %}
                       <td><input type="checkbox" id={{ forloop.counter }} /><label for = {{ forloop.counter }}></label> </td>
                           {% endfor %}
                   </tr>
                       {% endfor %}
                           </tbody>
                       </table>

{% endblock%}

