{% extends "base.html" %}
{%load static from staticfiles %}
{% block meta_title %}Відвідування{% endblock meta_title %}
{% block title %} Облік відвідувань{% endblock title %}
{% block content %}

<!DOCTYPE html>
               <!--Month scroll-->
               <div class="row" id="calendar_scroll"></div>
               <div class="col-lg-12" id="calendar_scroll-column">
                   <div class="text-center"><strong><a href="#">&larr;</a> {{ current_month }} <a href="#">&rarr;</a></strong></div>
               </div>
               <!--End of month scroll-->
                      <!--Table with checks-->
                       <table class="table table-bordered">
                           <thead>
                           <tr>
                               <th>#</th>
                               <th>Студент</th>
                               {% for day in days %}
                               <th>{{ days.days}}{days. </th>
                               {% endfor %}
                           </tr>
                           </thead>
                           <tbody>
                 {% for visit in visits %}
                   <tr>
                       <td>{{forloop.counter}}</td>
                       <td><a title="Редагувати" href="#">{{visit.first_name}} {{ visit.last_name }}</a></td>
                       {% for day in days %}
                       <td><input type="checkbox" id={{ forloop.counter }} /><label for = {{ forloop.counter }}></label> </td>
                           {% endfor %}
                   </tr>
                       {% endfor %}
                           </tbody>
                       </table>

{% endblock%}

